@font-face {
    font-family: 'Nerko One';
    src: url('./fonts/NerkoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Niconne';
    src: url('./fonts/Niconne-Regular.ttf') format('truetype');
}

@font-face { 
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

.login-mobile {
    display: none;
}


/* Styles pour l'icône du menu hamburger */
.menu-icon {
    display: none; /* Masqué par défaut */
    position: absolute;
    top: 1.5vh;
    left: 1.5vw;
    z-index: 1000; /* Assurez-vous qu'il est au-dessus d'autres éléments */
    cursor: pointer;
}

.menu-hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
}

.menu-hamburger span {
    display: block;
    width: 100%;
    height: 0.3vw;
    background-color: black;
}

.side-menu {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    top: 50%;
    
    left: 0;
    background-color: rgba(199, 205, 185, 0.95);
    z-index: 1001;
    overflow-x: hidden;
    transition: width 0.5s ease, left 0.5s ease; /* Transition pour l'animation */
    padding-top: 60px;
}


.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    padding: 10px 15px;
    text-align: left;
}

.side-menu ul li a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    display: block;
    transition: 0.3s;
}

.side-menu ul li a:hover {
    color: #A0724D;
}

/* Affiche le menu latéral ouvert */
.side-menu.open {
    left: 0;
    width: 250px;
}

/* Transition pour cacher le menu vers la droite */
.side-menu.closing {
    left: -250px; /* Le menu glisse vers la gauche pour se cacher */
    
}


html, body { /* Style de base */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #F5F5DC;
}

.topbar { /* Barre de navigation */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(199, 205, 185, 0.55); /* Couleur de fond avec 55% de transparence */
    z-index: 1000;
}

.topbar .menu { /* Menu de navigation */
    width: 100%;
}

.topbar .menu ul {
    display: flex;
    justify-content: space-between; /* Espacement entre les éléments */
    list-style-type: none; /* Supprime les puces de la liste */
    margin: 0;
    padding: 0;
    width: 100%;
}

.topbar .menu ul li { 
    flex: 1;
    text-align: center;
}

.topbar .menu ul li.connexion a { /* Style du bouton "Connexion" */
    background-color: #A0724D;
    padding: 0.3125em 0.9375em;
    border-radius: 3.125em;
    color: black;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.1);

}



.topbar .menu ul li:first-child { 
    text-align: left;
}

.topbar .menu ul li:last-child { /* Positionnement du bouton "Connexion" */
    position: relative;
    text-align: right;
    right: 4.5vh;
}

.topbar .menu ul li a { /* Style des liens du menu */
    color: #FFFFFF;
    opacity: 1;
    text-shadow: none;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 0.625rem 0.9375rem;
    -webkit-text-stroke: 0.025rem #000000;
    font-family: 'Roboto';
    font-weight: 500;
    text-shadow: 
        -0.0625rem -0.0625rem 0 #000, 
        0.0625rem -0.0625rem 0 #000, 
        -0.0625rem 0.0625rem 0 #000, 
        0.0625rem 0.0625rem 0 #000;

}


.topbar .menu ul li a:hover {
    text-decoration: underline; /* Soulignement au survol */
}

.small-logo {
    position: absolute;
    top: 0px; 
    left: 0px; 
    z-index: 200; 
    margin: 0; 
    padding: 0; 
}

.small-logo .small-lettre-z { /* Style de la petite lettre "Z" */
    -webkit-text-stroke: 1px, black;
    color: #98A9A3;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 20px;
    font-family: 'libre baskerville';
    position: absolute;
    top: 50px;
    left: 15px;

}

.small-logo .small-lettre-o1 { /* Style de la première petite lettre "O" */
    -webkit-text-stroke: 1px, black;
    color: #BEBFB8;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 20px;
    font-family: 'libre baskerville';
    position: absolute;
    top: 50px;
    left: 40px;

}

.small-logo .small-lettre-o2 { /* Style de la deuxième petite lettre "O" */
    -webkit-text-stroke: 1px, black;
    color: #98A9A3;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 20px;
    font-family: 'libre baskerville';
    position: absolute;
    top: 50px;
    left: 57px;

}

.small-logo .small-Arcadia { /* Style du texte "Arcadia" */
    font-family: 'Nerko One';
    font-size: 20px;
    color: #DDCFCF;
    border: 1px solid black;
    border-radius: 50px;
    background-color: black;
    padding: 1px 10px;
    position: absolute;
    top: 105px;
    left: 10px;
    
}

.section-connexion {
    background-color: #FEFEEF;
    border-radius: 2.1875rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 9rem;

    width: 100%;
    max-width: 40rem;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Ajout d'alignement centré */
    position: relative;
    top: 15vh;
    text-align: center;
}

.small-Arcadia-connexion {
    top: -13vh;
    display: flex;
    position: relative;
}

.small-logo-connexion {
    position: absolute;
    z-index: 100;
    top: -15px;
    left: 49%;
    transform: translateX(-50%);
    padding: 0;
}

.section-connexion .small-lettre-z-connexion, 
.section-connexion .small-lettre-o1-connexion, 
.section-connexion .small-lettre-o2-connexion {
    font-family: 'Libre Baskerville';
    font-size: 3.5rem;
    -webkit-text-stroke: 1px black;
    color: #98A9A3;
    margin: 0;
    display: inline-block;
    text-align: center;
    letter-spacing: -0.3em;
}

.section-connexion .small-lettre-z-connexion {
    color: #FFFFFF;
}

.section-connexion .small-lettre-o1-connexion {
    color: #BEBFB8;
}

.section-connexion .small-lettre-o2-connexion {
    color: #98A9A3;
}

.section-connexion .small-Arcadia-connexion {
    font-family: 'Nerko One';
    font-size: 1.5rem;
    color: #DDCFCF;
    background-color: black;
    padding: 3px 15px;
    border-radius: 20px;
    margin-top: 10px;
    display: block;
}



.titre-connexion {
    font-family: 'Georgia';
    font-size: 1.8rem;
    font-style: italic;
    margin-top: 30px;
    text-align: center;
    position: relative;
    top: -5vh;
}

.login {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.login input {
    width: 100%;
    border-radius: 2.25rem;
    padding: 16px 20px;
    background-color: #D9D9D9;
    border: none;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}





#password {
    margin-top: 1em;
}

input[type="text"], input[type="password"] {
    width: 100%;
    max-width: 600px;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 30px; 
    border: none;
    background-color: #E6E6E6; 
    color: #2C3E50; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    box-sizing: border-box;
    display: block;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: #B0B0B0; 
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif; 
}

button {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #333; 
}

.info-connexion {
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
    font-family: 'Roboto';
    margin-top: 1rem;
}


@media (max-width: 767px) {
    .menu ul li {
        display: none; 
    }

    

    .menu ul li.connexion {
        display: block;
        

    }
    
    .menu-icon {
        display: block;
        position: absolute;
        top: 1.5vh;
        left: 1.5vw;
        z-index: 1002;
        cursor: pointer;
    }

    .menu-hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 25px;
    }

    .menu-hamburger span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: black;
        transition: 0.4s;
    }

    .topbar {
        flex-direction: row-reverse;
        padding: 0.2rem;
    }

    .small-logo .small-lettre-z,
    .small-logo .small-lettre-o1,
    .small-logo .small-lettre-o2 {
        font-size: 2rem;
        -webkit-text-stroke: 0.1vw, black;
    }

    .small-logo .small-lettre-z {
        left: 0.9rem;
    }

    .small-logo .small-lettre-o1 {
        left: 1.8rem;
    }

    .small-logo .small-lettre-o2 {
        left: 2.4rem;
    }

    .small-logo .small-Arcadia {
        font-size: 1rem;
        left: 0.2rem;
        top: 5.5rem;
    }

    .section-connexion {
        display: none;
    }

    .small-logo {
        display: block;
        position: absolute;
        z-index: 100;
        top: 5px;
        left: 40%;
        padding: 0 auto;

    }

    .titre-connexion {
        position: absolute;
        top: -15%;
        left: 25%;
    }

    .login-mobile {
        display: block;
        position: relative;
        top: 32vh;
    }

    .login-mobile input {
        width: 98%;
        border-radius: 2.25rem;
        padding: 16px 18px;
        background-color: #D9D9D9;
        box-sizing: border-box;
        border: none;
        font-size: 20px;
        margin-top: 1em;
        margin-left: 0.1em;
        margin-right: 0.2em;
    
    }

    .btn-custom {
        width: 250px;
        margin: 0 auto;
        display: block;
        margin-top: 40px;
        font-size: 18px;
    }

    .side-menu {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(199, 205, 185, 0.95);
        z-index: 1001;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .side-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .side-menu ul li {
        padding: 10px 15px;
        text-align: left;
    }

    .side-menu ul li a {
        text-decoration: none;
        font-size: 22px;
        color: black;
        display: block;
        transition: 0.3s;
    }

    .side-menu ul li a:hover {
        color: #A0724D;
    }

    /* Menu latéral ouvert prend 250px de largeur */
    .side-menu.open {
        width: 250px;
    }
}

@media (min-width: 768px) and (max-width: 1281px) {
    
    .menu ul li {
        display: none; 
    }

    

    .menu ul li.connexion {
        display: block;
        

    }
    
    .menu-icon {
        display: block; /* Afficher le menu hamburger */
    }

    .topbar {
        flex-direction: row-reverse;
        padding: 0.2rem;
    }

    .login-mobile {
        display: none;
    }

    .small-logo .small-lettre-z,
    .small-logo .small-lettre-o1,
    .small-logo .small-lettre-o2 {
        font-size: 2rem;
        -webkit-text-stroke: 0.1vw, black;
    }

    .small-logo {
        position: absolute;
        top: 0; /* Positionné tout en haut */
        left: 0; /* Aligne tout à gauche */
        margin: 0;
        padding: 0;
    }
    
    .small-logo .small-lettre-z {
        left: 0.9rem; 
    }
    
    .small-logo .small-lettre-o1 {
        left: 1.8rem; /* Ajustez en fonction de la position souhaitée */
    }
    
    .small-logo .small-lettre-o2 {
        left: 2.4rem;
    }
    
    .small-logo .small-Arcadia {
        font-size: 1rem;
        left: 0.2rem;
        top: 5.5rem;
    }
}